<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>PyConZA 2012</title>
    <meta name="description" content="PyConZA - Python Developers Conference South Africa" />
    <meta property="og:title" content="PyConZA - Python Developers Conference South Africa" />
    <meta property="og:description" content="The largest gathering in South Africa for the community using and developing the open-source Python programming language.">
    <meta property="og:image" content="http://za.pycon.org/img/logo.png">
	<link rel="stylesheet" href="css/styling.css">
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Pacifico|Oswald|PT+Sans' rel='stylesheet' type='text/css'>
	<script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="clouds_top"></div>

<div id="wrap">

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li class="has_nav">
            <a href="about.html">About</a>
            <ul>
                <li><a href="about.html#about">About PyConZA</a></li>
                <li><a href="about.html#info">Registration Info</a></li>
                <li><a href="about.html#accommodation">Accommodation</a></li>
                <li><a href="about.html#coc">Code of Conduct</a></li>
            </ul>
        </li>
        <li><a href="where.html">Venue</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li class="has_nav">
            <a href="sponsors.html">Sponsors</a>
            <ul>
                <li><a href="sponsors.html">PyconZa Sponsors</a></li>
                <li><a href="sponsors_packages.html">Become a Sponsor</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <!--<li class="icon"><a href="http://pinterest.com/praekeltfound/" class="pinterest" target="_blank"></a></li>-->
        <li class="icon"><a href="https://twitter.com/pyconza" class="twitter" target="_blank"></a></li>
        <li class="icon"><a href="https://plus.google.com/u/0/events/c8jdopedaec40n30u78inbm4fj8/114736413252857807056" class="gplus" target="_blank"></a></li>
    </ul>
</nav><!--/Nav-->

<div id="container">
	
	<div class="main" role="main">
	
        <header>
            <a href="index.html" class="logo">PyConZA 2012</a>
            <div class="date">4 &amp; 5 October 2012<br /><span>Cape Town, South Africa</span></div>
            <!--<div class="snakes"></div>-->
            <a href="speaker.html" class="speaker">Would You Like To Be A<span>Speaker?</span></a>
            <a href="register.html" class="register">Join Us! Click Here To<span>Register</span></a>
        </header><!--/header-->

        <div class="content wide">
            <div class="body">
                <h1>Page Not Found</h1>
                <div class="inner">
                    <p>The page you are looking for has been moved, or doesn't exist.</p>
                    <p>Please navigate to the <a href="/">homepage</a> and try again.</p>
                </div>
            </div>
        </div><!--/content-->

	</div><!--/Main-->
	
	<footer>
        <div class="logos">
            <a href="http://www.praekeltfoundation.org/"><img src="img/logo_pf.png" /></a>
            <a href="http://www.google.co.za/"><img src="img/logo_google.png" /></a>
            <a href="http://www.thoughtworks.com/"><img src="img/logo_thoughtworks.png" /></a>
            <a href="http://unomena.com/"><img src="img/logo_unomena.png" /></a>
        </div><!--/logos-->
        <div class="legal">&copy; 2012 PyConZA Conference</div>
        <div class="credits">PyConZA brought to you by <a href="http://www.praekeltfoundation.org/" target="_blank">Praekelt Foundation</a><br />Website by <a href="http://unomena.com/" target="_blank">Unomena</a></div>
        <a href="/" class="logo_bottom"></a>
	</footer><!--/Footer-->
	
</div><!--/CONTAINER-->
</div><!--/WRAP-->
<div class="clouds_container">
    <div class="clouds_bottom"></div>
</div><!--/clouds-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
