{% extends "base.html" %}

{% block nav %}
    {% with on='about' %}
        {% include "pycon/includes/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <div class="content wide">
            <div class="body">
                <h1>About</h1>
                <div class="inner">
                    <h2>What is PyConZA?</h2>
                    <p>PyConZA is the first annual gathering of the South African community using and developing the open-source Python programming language. PyConZA is organized by the Python community for the community and presented by Praekelt Foundation. We'd like PyConZA to be accessible to as many people as possible and to foster unique solutions to the challenges we face in Africa.</p>
                    <p>The first PyConZA will be taking place at the The Pavilion Clocktower in the Victoria &amp; Alfred Waterfront, Cape Town, South Africa from the 4 - 5 October 2012. <a href="register.html"><strong>Register here</strong></a>.</p>
                    <a name="info" id="info"></a>
                </div>
            </div>
        </div><!--/content-->

        <div class="content wide margin_top_20">
            <div class="body">
                <h1>PyConZA Registration Information</h1>
                <div class="inner">
                    <p>Registration for PyConZA is now open, you can register by <a href="register.html" target="_blank">clicking here</a>.</p>
                    <h2>Registration Types</h2>
                    <table cellspacing="1" cellpadding="0">
                        <tr>
                            <th><span>Conference Registration</span></th>
                            <th><span>Early Bird</span><br />(before 31 Aug)</th>
                            <th><span>Regular</span><br />(before 28 Sep)</th>
                            <th><span>On The Day</span><br />(4 Oct, cash-only)</th>
                        </tr>
                        <tr>
                            <td class="title">Corporate</td>
                            <td>R1000</td>
                            <td>R1250</td>
                            <td>R1500</td>
                        </tr>
                        <tr>
                            <td class="title">Individual</td>
                            <td>R650</td>
                            <td>R800</td>
                            <td>R1000</td>
                        </tr>
                        <tr>
                            <td class="title">Student</td>
                            <td>R250</td>
                            <td>R350</td>
                            <td>R500</td>
                        </tr>
                    </table>
                    <p><em>The conference rate is only available to attendees of the PyConZA conference who make reservations through this site.</em></p>
                    <h2>Corporate Rate</h2>
                    <p>If your company is paying for you to attend PyConZA, you should register at the corporate rate. Government employees should also register at the corporate rate.</p>
                    <h2>Individual Rate</h2>
                    <p>If you are paying for yourself to attend PyConZA, feel free to come as an individual. Employees of non-profits may register at the individual rate.</p>
                    <h2>Student Rate</h2>
                    <p>This rate is for full-time students and scholars (pls note student cards will be requested at registration)</p>
                    <h2>What does it include</h2>
                    <p>PyConZA conference registration includes a light lunch and morning and afternoon break refreshments on the two conference days (Thursday and Friday).</p>
                    <h2>Banking Details</h2>
                    <p>Account number: 9275706696<br />Branch code: 632005<br />Account name: PyCon Conference<br />Bank: ABSA<br />Reference: PyCon (plus attendee initials+last name)</p>
                    <p>For assistance with registration and payment please contact Wendy Griffiths on +27 82 377 5913</p>
                    <a name="accommodation" id="accommodation"></a>
                </div>
            </div>
        </div><!--/content-->

        <div class="content wide margin_top_20">
            <div class="body">
                <h1>Hotel Accommodation</h1>
                <div class="inner">
                    <p>PyConZA has negotiated a discount rate at the following hotels.</p>
                    <p>The conference rate listed is 10% cheaper than booking direct and is only available to attendees of the PyConZA conference who make reservations through this site by emailing
                    <a href="mailto:heather@elegantplaces.co.za">heather@elegantplaces.co.za</a></p>
                    <div class="grid">
                        <div class="block">
                            <h2>V&amp;A Hotel<br />&nbsp;</h2>
                            <img src="{{ STATIC_URL }}pycon/img/hotel_va.png" width="265" />
                            <p>R3,105 per room<br />300m from the venue</p>
                            <p><a href="http://www.newmarkhotels.com/hotels/victoria-alfred-hotel/" target="_blank">Website</a> <span class="light">/</span> <a href="http://goo.gl/maps/dY8Sr" target="_blank">Map</a></p>
                        </div>
                        <div class="block">
                            <h2>Protea Hotel – Breakwater Lodge</h2>
                            <img src="{{ STATIC_URL }}pycon/img/hotel_bwl.png" width="265" />
                            <p>R1,064 (per person)<br />R486 (per person sharing)<br />500m from the venue</p>
                            <p><a href="http://www.proteahotels.com/protea-hotel-breakwater-lodge-waterfront.html" target="_blank">Website</a> <span class="light">/</span> <a href="http://goo.gl/maps/8AAEV" target="_blank">Map</a></p>
                        </div>
                        <div class="block">
                            <h2>Harbour Bridge Hotel &amp; Suites</h2>
                            <img src="{{ STATIC_URL }}pycon/img/hotel_hb.png" width="265" />
                            <p>R1,035 (per person)<br />R518 (per person sharing)<br />1.1 km from the venue</p>
                            <p><a href="http://harbourbridge.ahagroup.co.za/" target="_blank">Website</a> <span class="light">/</span> <a href="http://goo.gl/maps/8MmSr" target="_blank">Map</a></p>
                        </div>
                        <div class="block">
                            <h2>Park Inn (Radisson Blu)</h2>
                            <img src="{{ STATIC_URL }}pycon/img/hotel_rb.png" width="265" />
                            <p>R1,215 (per person)<br />R675 (per person sharing)<br />1.9 km from the venue</p>
                            <p><a href="http://http://www.parkinn.com/hotel-capetown" target="_blank">Website</a> <span class="light">/</span> <a href="http://goo.gl/maps/mKndF" target="_blank">Map</a></p>
                        </div>
                        <div class="block">
                            <h2>Stadium Guest House</h2>
                            <img src="{{ STATIC_URL }}pycon/img/hotel_sgh.png" width="265" />
                            <p>R585 (per person)<br />R383 (per person sharing)<br />2.5 km from the venue</p>
                            <p><a href="http://www.stadiumguesthouse.com/" target="_blank">Website</a> <span class="light">/</span> <a href="http://goo.gl/maps/lgAnF" target="_blank">Map</a></p>
                        </div>
                        <div class="block">
                            <h2>The Little Lemon</h2>
                            <img src="{{ STATIC_URL }}pycon/img/hotel_tll.png" width="265" />
                            <p>R540 (per person)<br />R338 (per person sharing)<br />2.9 km from the venue</p>
                            <p><a href="http://www.little-lemon.com/" target="_blank">Website</a> <span class="light">/</span> <a href="http://goo.gl/maps/TB0y6" target="_blank">Map</a></p>
                        </div>
                    </div>
                    <a name="coc" id="coc"></a>
                </div>
            </div>
        </div><!--/content-->

         <div class="content wide margin_top_20">
            <div class="body">
                <h1>PyConZA Code of Conduct</h1>
                <div class="inner">
                    <p>PyConZA is a community conference intended for networking and collaboration in the developer community. We value the participation of each member of the Python community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events, whether officially sponsored by PyConZA or not.</p>
                    <p>To make clear what is expected, all delegates, speakers, exhibitors and volunteers at any PyConZA event are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event.</p>
                    <p>PyConZA is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form.</p>
                    <p>All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate for any conference venue, including talks.</p>
                    <p>Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for PyConZA.</p>
                    <p>Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers.</p>
                    <p>Thank you for helping make this a welcoming, friendly event for all.</p>
                    <h2>Contact Information</h2>
                    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff.</p>
                    <p>If the matter is especially urgent, please call/contact any of these individuals:<br /><br />Wendy Griffiths: +27 82 377 5913<br />Samantha Manclark: +27 82 556 5188</p>
                </div>
            </div>
        </div><!--/content-->
{% endblock %}