{% extends "base.html" %}

{% block nav %}
    {% with on='contact' %}
        {% include "pycon/includes/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <div class="content wide">
            <div class="body">
                <h1>Contact</h1>
                <div class="inner">
                    <h2>Contact the Team</h2>
                    <p>Contact us directly by sending us an email to <a href="mailto:team@za.pycon.org">team@za.pycon.org</a></p>
                    <h2>Media</h2>
                    <p>If you are interested in covering PyConZA 2012 please contact Sam Manclark.  We also offer Media Passes and Sponsorship which includes recognition on PyConZA site and one free conference registration</p>
                    <p><strong>Media Contacts:</strong><br />Sam Manclark<br /><a href="mailto:sam@betterworld.com">sam@betterworld.com</a><br />+27 11 327 1540 / +27 82 556 5188</p>
                </div>
            </div>
        </div><!--/content-->
{% endblock %}