{% extends "base.html" %}

{% block nav %}
    {% with on='home' %}
        {% include "pycon/includes/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <ul class="promo">
            <li>
                <img src="{{ STATIC_URL }}pycon/img/promo.png" />
                <div>
                    <h1>Welcome to Pycon South Africa 2012!</h1>
                    <h2>The largest gathering in South Africa for the community using and developing the open-source Python programming language.</h2>
                    <p><a href="about.html" class="btn_promo_about">About Pycon</a></p>
                </div>
            </li>
            <li>
                <img src="{{ STATIC_URL }}pycon/img/promo_location.png" />
                <div class="promo_venue">
                    <h1>The Location</h1>
                    <h2>Our location for the first PyConZA is Cape Town South Africa, we will nestle under the magnificent Table Mountain. </h2>
                    <p><a href="location.html" class="btn_promo_about">Read More</a></p>
                </div>
            </li>
            <li>
                <img src="{{ STATIC_URL }}pycon/img/promo_venue.png" />
                <div class="promo_venue">
                    <h1>The Venue</h1>
                    <h2>The Pavilion Clock Tower is<br />situated within the Clock<br />Tower in Cape Town's Victoria &amp; Alfred Waterfront, and is the perfect place for our first PyConZA conference. </h2>
                    <p><a href="venue.html" class="btn_promo_about">Read More</a></p>
                </div>
            </li>
        </ul><!--/promo-->
{% endblock %}