{% extends "base.html" %}

{% block nav %}
    {% with on='home' %}
        {% include "pycon/includes/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <ul class="promo">
            <li>
                <img src="{{ STATIC_URL }}pycon/img/promo.png" />
                <div>
                    <h1>Welcome to Pycon South Africa 2012!</h1>
                    <h2>The largest gathering in South Africa for the community using and developing the open-source Python programming language.</h2>
                    <p><a href="about.html" class="btn_promo_about">About Pycon</a></p>
                </div>
            </li>
        </ul><!--/promo-->
{% endblock %}