<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>PyConZA 2012</title>
    <meta name="description" content="PyConZA - Python Developers Conference South Africa" />
    <meta property="og:title" content="PyConZA - Python Developers Conference South Africa" />
    <meta property="og:description" content="The largest gathering in South Africa for the community using and developing the open-source Python programming language.">
    <meta property="og:image" content="http://za.pycon.org/img/logo.png">
	<link rel="stylesheet" href="css/styling.css">
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Pacifico|Oswald|PT+Sans' rel='stylesheet' type='text/css'>
	<script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="clouds_top"></div>

<div id="wrap">

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li class="has_nav">
            <a href="about.html">About</a>
            <ul>
                <li><a href="about.html#about">About PyConZA</a></li>
                <li><a href="about.html#info">Registration Info</a></li>
                <li><a href="about.html#accommodation">Accommodation</a></li>
                <li><a href="about.html#coc">Code of Conduct</a></li>
            </ul>
        </li>
        <li><a href="where.html">Venue</a></li>
        <li class="on"><a href="location.html">Location</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li class="has_nav">
            <a href="sponsors.html">Sponsors</a>
            <ul>
                <li><a href="sponsors.html">PyconZa Sponsors</a></li>
                <li><a href="sponsors_packages.html">Become a Sponsor</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <!--<li class="icon"><a href="http://pinterest.com/praekeltfound/" class="pinterest" target="_blank"></a></li>-->
        <li class="icon"><a href="https://twitter.com/pyconza" class="twitter" target="_blank"></a></li>
        <li class="icon"><a href="https://plus.google.com/u/0/events/c8jdopedaec40n30u78inbm4fj8/114736413252857807056" class="gplus" target="_blank"></a></li>
    </ul>
</nav><!--/Nav-->

<div id="container">
	
	<div class="main" role="main">
	
        <header>
            <a href="index.html" class="logo">PyConZA 2012</a>
            <div class="date">4 &amp; 5 October 2012<br /><span>Cape Town, South Africa</span></div>
            <!--<div class="snakes"></div>-->
            <a href="speaker.html" class="speaker">Would You Like To Be A<span>Speaker?</span></a>
            <a href="register.html" class="register">Join Us! Click Here To<span>Register</span></a>
        </header><!--/header-->

        <div class="content wide">
            <div class="body">
                <h1>Explore Cape Town</h1>
                <div class="inner">
                    <div class="grid">

                        <div class="block">
                            <h2>Free Trade Coffee - Bean There</h2>
                            <img src="img/location_coffee.png" width="265" />
                            <p>58 Wale Street | City Centre | Cape Town | +27 (0)21 87 943 2228<br /><br /><strong>Opening times:</strong> Monday to Friday, from 7:30am till 4pm. Saturday from 9am till 2pm</p>
                        </div>

                        <div class="block">
                            <h2>Hole in the Wall  - The Dogs Bollocks</h2>
                            <img src="img/location_dogs.png" width="265" />
                            <p>
                                The Dog’s Bollocks is a no-frills-no-fuss burger joint in Roodehek St – nr 6, Gardens.  If you're going "Huh, where the hell is that?"  It's a few streets up from Roeland St, between Buitenkant &amp; Hope St.  Here, owner Nigel, serves up some of the meatiest, tastiest, juiciest burgers in town. He operates from what looks like a little garage and is only open Mon – Sat from 5pm to 10pm, or until he runs out of stock really.  So get there early folks!
                            </p>
                        </div>

                        <div class="block">
                            <h2>Bicycle Culture - Bike &amp; Saddle</h2>
                            <img src="img/location_bike.png" width="265" />
                            <p>
                                Bike &amp; Saddle hires out good quality and durable Mountain, Lifestyle and Road Bikes and offers a choice of pick-up and/or drop-off locations in Cape Town.<br /><br />Book your bike rental by calling central reservations at +27-21-813-6433 or texting to +27-72-805-3452 - visit the website <a href="http://www.bikeandsaddle.com/bike-rental/" target="_blank">www.bikeandsaddle.com/bike-rental/</a>
                            </p>
                        </div>

                    </div>
                    <div class="grid">    

                        <div class="block">
                            <h2>Robben Island</h2>
                            <img src="img/location_robben.png" width="265" />
                            <p>
                                Nelson Mandela was imprisoned for 27 years before becoming the first democratic President of the Republic of South Africa.  From the 17th to the 20th centuries, Robben Island served as a place of banishment, isolation and imprisonment. Today it is a World Heritage Site and museum, a poignant reminder to the newly democratic South Africa of the price paid for freedom.  Ferries depart at 9am, 11am, 1pm and 3pm, weather permitting, from Nelson Mandela Gateway, at the V&amp;A Waterfront in Cape Town.<br /><br />Tickets cost R230 for adults and R120 for children (U/18) - visit <a href="http://www.robben-island.org.za/" target="_blank">www.robben-island.org.za</a>
                            </p>
                        </div>

                        <div class="block">
                            <h2>Eat Lean - Haiku</h2>
                            <img src="img/location_haiku.png" width="265" />
                            <p>
                                The Haiku concept is exotic Asian cuisine. Chinese dim sum, wok and barbeque; Japanese robata grills and sushi, served tapas-style, are some of the dishes to be shared and enjoyed in a stylish setting.<br /><br />Situated at 33 Church Street, Cape Town.  021 424 7000 <a href="mailto:haiku@bhukara.com">haiku@bhukara.com</a>
                            </p>
                        </div>

                        <div class="block">
                            <h2>Get Active</h2>
                            <img src="img/location_sp.png" width="265" />
                            <p>
                                Take a walk or run along the Seapoint Promenade - There is a wonderful, scenic paved walkway stretching from the Lighthouse in Greenpoint till the far end of Sea Point. Around Sea Point there is access to a number of small beach areas and there are also grass areas which are a favourite for picnics, some informal soccer or cricket matches and general family quality time. Great to walk, people watch or just chill out and enjoy the city and its people.
                            </p>
                        </div>

                    </div>
                    <div class="grid">    

                        <div class="block">
                            <h2>Old Biscuit Mill</h2>
                            <img src="img/location_obm.png" width="265" />
                            <p>
                                Old space,  new ideas.  The Old Biscuit Mill is situated at 375 Albert Street in Woodstock.  Fresh local produce, woodfired breads, locally made cheeses, organic foods, luxury beers, local designers, artisans and fine food purveyors, if you’re into this it’s all here at the Neighbourgoods Market open from 9am to 2pm every Saturday.<br /><br />Visit their website to learn more <a href="http://www.theoldbiscuitmill.co.za/" target="_blank">www.theoldbiscuitmill.co.za</a>
                            </p>
                        </div>

                        <div class="block">
                            <h2>Table Mountain</h2>
                            <img src="img/location_table.png" width="265" />
                            <p>
                                Leaves a majestic and powerful impression on all that have visited Cape Town. From the top of the mountain you are treated to panoramic views of Cape Town and Table Bay. The modern cable car which revolves as it climbs offers you the chance to reach the summit within 6 minutes. Facilities on top of the mountain include: a souvenir shop restaurant, cocktail bar and summit room. Purchase of tickets can be made, on the day of your visit, at our lower station ticket office - Lower Cable Station, Tafelberg Road - From Cape Town drive up Kloof Nek Road. At the top you will reach a circle. Turn left into Tafelberg Road and follow the road to the lower cable station.<br /><br />Tickets are R195 return or R175 if booked online. For more info go <a href="http://www.uncoverthecape.co.za/local-attractions/table-mountain-cableway/table-mountain-cableway/index.htm#pricelist" target="_blank">here</a>.
                            </p>
                        </div>

                        <div class="block">
                            <h2>Lion's Head</h2>
                            <img src="img/location_lions.png" width="265" />
                            <p>
                                Alongside Table Mountain is the distinctive shaped mountain slope, Lions Head. This proud lion overlooks the city and Table Bay on one side, and the scenic Atlantic Ocean coastline on the other. On a clear day (especially during full moon) the views are spectacular and great for a hike and taking photographs of Cape Town from all sides. You will wind your way around the lions head until you reach the chains taking you to the very top.
                                <br /><br />
                                <strong>Starting Point:</strong> Signal Hill Road, at the Base of the forestry rd.<br />
                                <strong>Hike Duration:</strong> 2.5 - 3 hours<br />
                                <strong>Difficulty:</strong> The majority of the walk is steep but easy going, getting very steep towards the end.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div><!--/content-->

	</div><!--/Main-->
	
	<footer>
        <div class="logos">
            <a href="http://www.praekeltfoundation.org/"><img src="img/logo_pf.png" /></a>
            <a href="http://www.google.co.za/"><img src="img/logo_google.png" /></a>
            <a href="http://www.thoughtworks.com/"><img src="img/logo_thoughtworks.png" /></a>
            <a href="http://unomena.com/"><img src="img/logo_unomena.png" /></a>
        </div><!--/logos-->
        <div class="legal">&copy; 2012 PyConZA Conference</div>
        <div class="credits">PyConZA brought to you by <a href="http://www.praekeltfoundation.org/" target="_blank">Praekelt Foundation</a><br />Website by <a href="http://unomena.com/" target="_blank">Unomena</a></div>
        <a href="/" class="logo_bottom"></a>
	</footer><!--/Footer-->
	
</div><!--/CONTAINER-->
</div><!--/WRAP-->
<div class="clouds_container">
    <div class="clouds_bottom"></div>
</div><!--/clouds-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
