{% extends "base.html" %}

{% block content %}
        <div class="content wide">
            <div class="body">
                <h1>Register</h1>
                <div class="inner">
                    <h2>Fill in the form below to register</h2>
                    <p>Fields marked * are required.</p>
                    <form id="frmRegister" action="{% url register %}" method="post">{% csrf_token %}
                        <fieldset>
                            <legend>Your Contact Info</legend>
                            <div class="fieldgroup">
                                <div class="field">
                                    <label for="first_name">Name <span>*</span></label>
                                    {{ form.name }}
                                </div>
                                <div class="field">
                                    <label for="last_name">Surname <span>*</span></label>
                                    {{ form.surname }}
                                </div>
                                <div class="clear"></div>
                                <div class="field">
                                    <label for="email_address">Email Address <span>*</span></label>
                                    {{ form.email }}
                                </div>
                                <div class="field">
                                    <label for="contact_number">Contact Number</label>
                                    {{ form.contact_number }}
                                </div>
                                <div class="clear"></div>
                                <div class="field">
                                    <label for="type">Registration Type <span>*</span></label>
                                    {{ form.registration_type }}
                                </div>
                            </div>
                        </fieldset>
                        <input type="submit" name="submit" value="Submit" class="btn" />
                    </form>
                </div>
            </div>
        </div><!--/content-->
{% endblock %}