{% extends "base.html" %}

{% block nav %}
    {% with on='schedule' %}
        {% include "pycon/includes/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <div class="content wide">
            <div class="body">
                <h1>Schedule</h1>
                <div class="inner">
                    <h2>PyconZA October 2012 Schedule</h2>
                    <p>We are excited to announce the draft programme for the very first PyCon in Africa, PyConZA 2012. The theme is getting stuff done with Python -- in Africa! Throughout Africa people are doing things with Python -- building massive radio telescopes, creating mobile health systems, running businesses, making websites, writing games, connecting people, doing research, designing interpreters, crunching data, earning money and just coding for fun! </p>
                    <p>If you’re a newcomer looking for tutorials to get you started, or wanting to be inspired by what others around you are achieving with Python, our programme has both for you.  If you’re a Python guru, come to share insights, ideas and coffee -- there will be plenty of other experienced folk around -- or, if you’re particularly excited about something, offer us a talk!</p>
                    <p><em>The draft program covers the topics below. The final schedule will be announced closer to the event.</em></p>
                    <div class="grid">
                        <div class="block">
                            <h2>Core Python</h2>
                            <ul>
                                <li>Getting started with Python</li>
                                <li>Unit testing</li>
                                <li>Python performance</li>
                                <li>Python 3</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h2>Web Development</h2>
                            <ul>
                                <li>Django</li>
                                <li>GeoDjango</li>
                                <li>Flask</li>
                                <li>Plone</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h2>Mobile</h2>
                            <ul>
                                <li>Android applications in Python</li>
                                <li>Text messaging</li>
                                <li>Django for mobi sites</li>
                                <li>Embedded Python</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h2>Backend Python</h2>
                            <ul>
                                <li>Twisted</li>
                                <li>Managing cloud servers (Fabric, Boto)</li>
                                <li>Monitoring (Diamond, Carbon, Graphite)</li>
                                <li>Writing scalable Python programs</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h2>Data storage</h2>
                            <ul>
                                <li>SQLAlchemy</li>
                                <li>SQLObject</li>
                                <li>NoSQL datastores</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h2>Community development</h2>
                            <ul>
                                <li>Getting involved with Python projects</li>
                                <li>PyWeek</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <div class="block">
                            <h2>Science, engineering and data crunching</h2>
                            <ul>
                                <li>Scipy</li>
                                <li>Numpy</li>
                                <li>Pypy</li>
                                <li>Pandas</li>
                                <li>Spatial data infrastructures</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h2>People doing things with Python</h2>
                            <ul>
                                <li>Radio telescopes (SKA)</li>
                                <li>Mobile Health projects (UNICEF, Praekelt)</li>
                            </ul>
                        </div>
                    </div>
                    <p>If you'd like to speak on any of these topics or have any topics you'd like us to find presenters for, email <a href="mailto:team@za.pycon.org">team@za.pycon.org</a>.</p>
                </div>
            </div>
        </div><!--/content-->
{% endblock %}