{% extends "base.html" %}

{% block nav %}
    {% with on='schedule' %}
        {% include "pycon/includes/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <div class="content wide">
            <div class="body">
                <h1>Schedule</h1>
                <div class="inner">
                    <h2>PyconZA October 2012 Schedule</h2>
                    <p>We are excited to announce the draft programme for the very first PyCon in Africa, PyConZA 2012. The theme is getting stuff done with Python -- in Africa! Throughout Africa people are doing things with Python -- building massive radio telescopes, creating mobile health systems, running businesses, making websites, writing games, connecting people, doing research, designing interpreters, crunching data, earning money and just coding for fun! </p>
                    <p>If you’re a newcomer looking for tutorials to get you started, or wanting to be inspired by what others around you are achieving with Python, our programme has both for you.  If you’re a Python guru, come to share insights, ideas and coffee -- there will be plenty of other experienced folk around -- or, if you’re particularly excited about something, offer us a talk!</p>
                    <p><em>The program below is a first draft, and will be continuously updated. The final schedule will be announced closer to the event.</em></p>
                    <p><strong class="blue">Core Python:</strong><br />Getting started with Python, unit testing, Python performance, Python 3</p>
                    <p><strong class="blue">Web development:</strong><br />Django, GeoDjango, Flask, Plone</p>
                    <p><strong class="blue">Science, engineering and data crunching:</strong><br />Scipy, Numpy, Pypy, Pandas, spatial data infrastructures</p>
                    <p><strong class="blue">Mobile:</strong><br />Android applications in Python, text messaging, Django for mobi sites, embedded Python</p>
                    <p><strong class="blue">Backend Python:</strong><br />Twisted, managing cloud servers (Fabric, Boto), monitoring (Diamond, Carbon, Graphite), writing scalable Python programs</p>
                    <p><strong class="blue">Data storage:</strong><br />SQLAlchemy, SQLObject, NoSQL datastores</p>
                    <p><strong class="blue">Community development:</strong><br />Getting involved with Python projects, PyWeek</p>
                    <p><strong class="blue">People doing things with Python:</strong><br />Radio telescopes (SKA), mobile Health projects (UNICEF, Praekelt)</p>
                    <p>If you'd like to speak on any of these topics or have any topics you'd like us to find presenters for, email <a href="mailto:team@za.pycon.org">team@za.pycon.org</a>. If you’re a Python guru, come share insights, ideas and coffee -- there will be plenty of other experienced folk around -- or, if you’re particularly excited about something, offer us a talk!</p>
                </div>
            </div>
        </div><!--/content-->
{% endblock %}