{% extends "base.html" %}

{% block content %}
        <div class="content wide">
            <div class="body">
                <h1>Become a Speaker</h1>
                <div class="inner">
                    <h2>Fill in the form below to apply to be a speaker</h2>
                    <p>Fields marked * are required. Don't forget to register to attend!</p>
                    <p>{{ form.errors }}</p>
                    <form id="frmSpeaker" action="{% url speaker %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset>
                            <legend>Your Contact Info</legend>
                            <div class="fieldgroup">
                                <div class="field">
                                    <label for="first_name">Name <span>*</span></label>
                                    {{ form.name }}
                                </div>
                                <div class="field">
                                    <label for="last_name">Surname <span>*</span></label>
                                    {{ form.surname }}
                                </div>
                                <div class="clear"></div>
                                <div class="field">
                                    <label for="contact_number">Contact Number</label>
                                    {{ form.contact_number }}
                                </div>
                                <div class="field">
                                    <label for="email_address">Email Address <span>*</span></label>
                                    {{ form.email }}
                                </div>
                                
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>A Bit About You</legend>
                            <div class="fieldgroup">
                                <div class="fieldlong">
                                    <label for="bio">Bio <span>*</span></label>
                                    {{ form.bio }}
                                </div>
                                <div class="field align_left">
                                    <label for="photo">Photo <span>*</span></label>
                                    {{ form.photo }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>The Talk</legend>
                            <div class="fieldgroup">
                                <div class="field">
                                    <label for="talk_title">Title <span>*</span></label>
                                    {{ form.talk_title }}
                                </div>
                                <div class="field">
                                    <label for="talk_kind">Kind <span>*</span></label>
                                    {{ form.talk_type }}
                                </div>
                                <div class="clear"></div>
                                <div class="field">
                                    <label for="talk_category">Category <span>*</span></label>
                                    {{ form.talk_category }}
                                </div>
                                <div class="field">
                                    <label for="talk_audience">Audience Level <span>*</span></label>
                                    {{ form.talk_level }}
                                </div>
                                <div class="clear"></div>
                                <div class="field">
                                    <label for="talk_duration">Duration <span>*</span></label>
                                    {{ form.talk_duration }}
                                </div>
                                <div class="fieldlong">
                                    <label for="talk_desc">Description <span>*</span></label>
                                    {{ form.talk_description }}
                                </div>
                                <div class="fieldlong">
                                    <label for="talk_abstract">Abstract <span>*</span></label>
                                    {{ form.talk_abstract }}
                                </div>
                                <div class="fieldlong">
                                    <label for="talk_notes">Additional Notes for Reviewers <span>*</span></label>
                                    {{ form.talk_notes }}
                                </div>
                            </div>
                        </fieldset>
                        <input type="submit" name="submit" value="Apply" class="btn" />
                    </form>
                </div>
            </div>
        </div><!--/content-->
{% endblock %}
