<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>PyConZA 2012</title>
    <meta name="description" content="PyConZA - Python Developers Conference South Africa" />
    <meta property="og:title" content="PyConZA - Python Developers Conference South Africa" />
    <meta property="og:description" content="The largest gathering in South Africa for the community using and developing the open-source Python programming language.">
    <meta property="og:image" content="http://za.pycon.org/img/logo.png">
	<link rel="stylesheet" href="css/styling.css">
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Pacifico|Oswald|PT+Sans' rel='stylesheet' type='text/css'>
	<script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="clouds_top"></div>

<div id="wrap">

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li class="has_nav">
            <a href="about.html">About</a>
            <ul>
                <li><a href="about.html#about">About PyConZA</a></li>
                <li><a href="about.html#info">Registration Info</a></li>
                <li><a href="about.html#accommodation">Accommodation</a></li>
                <li><a href="about.html#coc">Code of Conduct</a></li>
            </ul>
        </li>
        <li><a href="where.html">Venue</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li class="has_nav on">
            <a href="sponsors.html">Sponsors</a>
            <ul>
                <li><a href="sponsors.html">PyconZa Sponsors</a></li>
                <li><a href="sponsors_packages.html">Become a Sponsor</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <!--<li class="icon"><a href="http://pinterest.com/praekeltfound/" class="pinterest" target="_blank"></a></li>-->
        <li class="icon"><a href="https://twitter.com/pyconza" class="twitter" target="_blank"></a></li>
        <li class="icon"><a href="https://plus.google.com/u/0/events/c8jdopedaec40n30u78inbm4fj8/114736413252857807056" class="gplus" target="_blank"></a></li>
    </ul>
</nav><!--/Nav-->

<div id="container">
	
	<div class="main" role="main">
	
        <header>
            <a href="index.html" class="logo">PyConZA 2012</a>
            <div class="date">4 &amp; 5 October 2012<br /><span>Cape Town, South Africa</span></div>
            <!--<div class="snakes"></div>-->
            <a href="speaker.html" class="speaker">Would You Like To Be A<span>Speaker?</span></a>
            <a href="register.html" class="register">Join Us! Click Here To<span>Register</span></a>
        </header><!--/header-->

        <div class="content wide">
            <div class="body">
                <h1>Presenting PyConZA 2012 Sponsorship</h1>
                <div class="inner">
                    <p>PyConZA is the very first gathering in South Africa for the community using and developing the open-source Python programming language. PyConZA is organized by the Python community for the community and presented by Praekelt Foundation. Our aim is to make PyConZA accessible to the widest group possible and to foster unique solutions to the challenges we face in Africa. The conference is intended to draw  diverse participants to an enjoyable experience in the Mother City, Cape Town, South Africa.</p>
                    <p>Your sponsorship will not only help launch PyconZA in its inaugural year, but will keep it affordable and accessible to the widest possible audience. The available sponsorships are described below. If you have suggestions please do not hesitate to contact us as we are willing to work with you to design the sponsorship package that will fulfill your business and organization's needs.</p>
                    <h2>Contact</h2>
                    <p>Name: Gustav Praekelt<br />Phone: 082 459 3656<br />Email: <a href="mailto:gustav@praekelt.com">gustav@praekelt.com</a></p>
                    <h2>Details</h2>
                    <p><strong>Dates</strong><br />October 4-5. 2012</p>
                    <p><strong>Attendance</strong><br />200+</p>
                    <p><strong>Audience profile</strong><br />Developers, technologists, programmers and hackers; bloggers, authors and web developers; CTOs, managers and entrepreneurs; scientists, engineers and domain experts.</p>
                    <p><strong>Conference Venue</strong><br />The Pavilion Clock Tower - Victoria &amp; Alfred Waterfront, Cape Town, South Africa</p>
                    <h2>Sponsorship Packages</h2>
                    <p><strong>PLATINUM SPONSORSHIP — R50 000-00excl vat (LIMIT: 2)</strong></p>
                    <p>Sponsor Workshop at PyconZA.<br />750 word description in PyConZA online program guide.<br />Exhibit space 3m x 3m within the PyconZA Conference Venue Area.<br />Platinum sponsor link on PyConZA website.<br />Joint press releases highlighting the sponsor posted to website and distributed to PyconZA delegates.<br />1 Blog post highlighting the sponsor/interviews about what they do with python.<br />2 x Pull up banners  (if provided) in main conference room at PyconZA venue and two pull up banners in the PyconZA entrance area or greenroom venue.<br />Logo on the PyConZA website and powerpoint slides in the venue<br />Job listing on the PyCon 2012 Jobs Fair website page.<br />8 free conference registrations.</p>
                    <p><strong>GOLD SPONSORSHIP — R30 000-00excl vat (LIMIT: 4)</strong></p>
                    <p>750 word description in PyConZA online program guide.<br />Exhibit space 3m x 3m within the PyconZA Conference Venue Area.<br />Gold sponsor link on PyConZA website.<br />Name included in press release and event mailings.<br />2 x pull up banners or the equivalent thereof (if provided) in main conference room and one in the greenroom.<br />Logo on the PyConZA website and powerpoint slides in the venue<br />Job listing on the PyConZA 2012 online Jobs Fair page.<br />6 free conference registrations.</p>
                    <p><strong>SILVER SPONSORSHIP — R15 000-00 (LIMIT: 6)</strong></p>
                    <p>250 word description in PyConZA online program guide<br />Silver sponsor link on PyConZA website<br />Name included in press release and event mailings<br />1 x pull up banner or equivalent (if provided) in main conference room<br />Logo on the PyConZA website and powerpoint slides in the venue<br />3 free conference registrations</p>
                    <p><strong>PYCON PATRON — R2 500-00 (LIMIT: 6)</strong></p>
                    <p>(For individuals and start-up businesses)<br />Listing in PyCon online program guide<br />Patron link on Sponsors page<br />Logo on the PyCon website<br />2 free conference registration</p>
                    <p><strong>COFFEE BREAK SPONSORSHIP — R12,000  (LIMIT: 1)</strong></p>
                    <p><strong>Provides coffee and tea for the attendees for up to 4 hours during the conference</strong><br />Pull up banner x 2 (if provided) in the coffee station area<br /><em>Can be added to other packages</em></p>
                    <p><strong>COCKTAIL EVENING SPONSORSHIP - to be held on the Ocean View Terrace which is part of the conference venue overlooking the harbour — R35 000-00 (includes the cost of an estimated bar tab and cocktail menu)</strong></p>
                    <p>Pull up banners (if provided)  in cocktail area<br /><em>Can be added to other packages and can be tailor made for the brand sponsor</em></p>
                    <h2>MEDIA INFORMATION</h2>
                    <p>Media Passes and Sponsorship (Please contact <a href="mailto:sam@speakerscorner.co.za">sam@speakerscorner.co.za</a>)</p>
                    <h2>Ready to sponsor?</h2>
                    <p><strong>Please contact Gustav Praekelt to sign up!</strong></p>
                    <p>Name: Gustav Praekelt<br />Phone: 082 459 3656<br />Email: <a href="mailto:gustav@praekelt.com">gustav@praekelt.com</a></p>
                </div>
            </div>
        </div><!--/content-->

	</div><!--/Main-->
	
	<footer>
        <div class="logos">
            <a href="http://www.praekeltfoundation.org/"><img src="img/logo_pf.png" /></a>
            <a href="http://www.google.co.za/"><img src="img/logo_google.png" /></a>
            <a href="http://www.thoughtworks.com/"><img src="img/logo_thoughtworks.png" /></a>
            <a href="http://unomena.com/"><img src="img/logo_unomena.png" /></a>
        </div><!--/logos-->
        <div class="legal">&copy; 2012 PyConZA Conference</div>
        <div class="credits">PyConZA brought to you by <a href="http://www.praekeltfoundation.org/" target="_blank">Praekelt Foundation</a><br />Website by <a href="http://unomena.com/" target="_blank">Unomena</a></div>
        <a href="/" class="logo_bottom"></a>
	</footer><!--/Footer-->
	
</div><!--/CONTAINER-->
</div><!--/WRAP-->
<div class="clouds_container">
    <div class="clouds_bottom"></div>
</div><!--/clouds-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
