{% extends "base.html" %}

{% block nav %}
    {% with on='sponsors' %}
        {% include "pycon/includes/nav.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <div class="content wide">
            <div class="body">
                <h1>Our Sponsors</h1>
                <div class="inner">
                    <h2>Event Sponsors</h2>
                    <p>The support of our Event Partners allows us to offer a wide variety of events and activities alongside the main conference.</p>
                    <div class="grid">
                        <div class="block">
                            <p><strong class="blue up">Praekelt Foundation</strong></p>
                            <a href="http://www.praekeltfoundation.org/" target="_blank"><img src="{{ STATIC_URL }}pycon/img/sponsor_praekeltfoundation.png" class="sponsor" /></a>
                            <p>Praekelt Foundation is an incubator for mobile technology which improves the health and well-being of people living in poverty.</p>
                            <p><a href="http://www.praekeltfoundation.org/" target="_blank">www.praekeltfoundation.org</a></p>
                        </div>
                        <div class="block">
                            <p><strong class="blue up">Unomena</strong></p>
                            <a href="http://unomena.com/" target="_blank"><img src="{{ STATIC_URL }}pycon/img/sponsor_unomena.png" class="sponsor" /></a>
                            <p>Unomena is a dynamic digital agency that creates high-performance web applications using open-source technologies.</p>
                            <p><a href="http://unomena.com/" target="_blank">www.unomena.com</a></p>
                        </div>
                        <div class="block">
                            <p><strong class="blue up">Become a Sponsor</strong></p>
                            <p>Your sponsorship will not only help launch PyconZA in its inaugural year, but will keep it affordable and accessible to the widest possible audience. </p>
                            <p><a href="sponsors_packages.html" class="btn">Learn More</a></p>
                        </div>
                    </div>
                    
                    <div class="grid">
                        <h2>Gold Sponsors</h2>
                        <div class="block">
                            <p><strong class="blue up">Google</strong></p>
                            <a href="http://www.google.co.za/" target="_blank"><img src="{{ STATIC_URL }}pycon/img/sponsor_google.png" class="sponsor" /></a>
                            <p>Search the world's information, including webpages, images, videos and more.</p>
                            <p><a href="http://www.google.co.za/" target="_blank">www.google.co.za</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/content-->
{% endblock %}